<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action='hello' method='get'>
         <input type='text' name='name'>
         <select name='language' id='language-select'>
             <option value = 'english'>English</option>
             <option value = 'french'>French</option>
             <option value = 'spanish'>Spanish</option>
             <option value = 'dutch'>Dutch</option>
             <option value = 'japanese'>Japanese</option>
        </select>
         <input type='submit' value='Greet me!'>
    </form>
</body>
</html>